:root {
  --main-dark: #1c211c;
  --main-txt-color: #cce8cc; 
  --main-blue-color: rgb(35, 76, 173); 
  --main-dark-contrast: blue; 
}

h1 {color: var(--main-txt-color);}
h2 {color: var(--main-txt-color);}
h3 {color: var(--main-txt-color);}
p  {color: var(--main-txt-color);}
li {color: var(--main-txt-color);}

body {
  background-color: var(--main-dark);  
  background: url("../images/background4.jpg");
  background-repeat: no-repeat;
  background-size: auto;  width: 100%; 
  height: 90%; 
  padding: 0;
  margin: 0; 
}

canvas {
  width: 100%;
  height: 100%;
}

.basicButton {
  transition: all 0.5s; 
  text-align: center; 
  border: 4px solid;  
  cursor: pointer;
}

.greenButton {
  background-color: var(--main-blue-color); 
  color: var(--main-dark); 
}

.greenButton:hover {
  background-color: var(--main-dark-contrast);
  color: var(--main-dark); 
}

.greenButton span:after {
  background-color: var(--main-blue-color); 
  color: var(--main-dark); 
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.largeButton {
  font-size:20px;
  padding: 12px 28px;
  border-radius: 12px;
  margin: 5px; 
}

.smallButton {
  font-size:14px;
  padding: 6px 14px;
  border-radius: 6px;
  margin: 3px; 
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto; 
}

header {
  display: flex;
  justify-content: center; 
  text-align: center;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: auto; 
  height: 15%; 
}

footer {
  display: flex;
  justify-content: center; 
  text-align: center;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: auto; 
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.scoreDisplay {
  top: 3%; 
  left: 3%;
  width: 10%; 
  float: right; 
  position: fixed; 
  height: 75%; 
  justify-content: right
}

.centerPane {
  top: 0%; 
  left: 0%;
  width: 100%; 
  float: center; 
  border: 4px; 
  border-color: white; 
  position: fixed; 
  height: 100%; 
  justify-content: center
}

.noBullet {
  list-style-type: none;
}

.inline {
  display: inline; 
  padding: 52px; 
}

input {
  float: left;
  clear: left;
  width: 50px;
  line-height: 20px;
}

label {
  float: left;
  vertical-align: middle;
  color: var(--main-txt-color);
}

#game {
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    font-size: 40px;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#main-menu {
    padding-top: 1em;
    cursor: pointer;
    font-size: 0.75em;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0.8em 0;
}

ul.menu li button {
    font-family: Arial, sans-serif;
    font-size: 0.6em;
    color: #CECEF6;
    width: 10em;
    height: 1.5em;
    background: var(--main-blue-color);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
    background: #2E2EFE;
}

ul.menu li button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);
}

#game div h1 {
    font-size: 1em;
    text-align: center;
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#game div p {
    font-size: 0.5em;
}

#about p {
    text-align: center;
}

#myProgress {
  width: 90%;
  background-color: var(--main-dark);
}

#myBar {
  width: 1%;
  height: 20px;
  background-color: grey;  
}

ul.credits {
  font-size: 36px; 
  color: darkgrey; 
}

ul.credits li {
  font-size: 24px; 
  color: darkgrey; 
}
